.tela{
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}
#rodape{
    color: white;
    font-size: 15px;
    text-align: center;
    text-justify: auto;
    width: 100%;
    margin-bottom: 20px;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    line-height: 400px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
    background-color: #262626;
    background-image: url("../img/parallax/logo.png");
    background-size: auto 400px;
    height: 550px;
}
section.module.parallax-2 {
    background-image: url("../img/parallax/muay1.png");
}
section.module.parallax-3 {
    background-image: url("../img/parallax/muay2.jpg");
}
section.module.parallax-4 {
    background: black;
}
@media all and (min-width: 1400px) {
    section.module.parallax-1 {
        height: 600px;
    }
}
@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 50px;
    }
}
